body{
    background-color: rgb(172, 214, 246); 
}
.heading{
    font-weight: bolder;
    font-family: "Kalam";
    color:black;
}
.btsz{
    margin-top: 30px;
    width:200px;
    height:80px;
    font-weight: bolder;
    font-family: "Kalam";
    font-size: x-large;
    color:black; 
}
.lbl{
    font-weight: bolder;
    font-family: "Kalam";
    color:black;
    font-size:20px;
}
input{
    direction: ltr;
}
.next{
    font-size: 20px;
    width: 200px;
    font-family: "Kalam";
}
.back{
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Kalam";
}
#passVis_2{
    font-family: kalam;
    margin-top: 20px;
    margin-left: 20px;
}
.password h5{
    color:red;
    font-weight: bold;
}
.pareNav{
    background-color: black;
    width:100%;
    height: 40px;
    overflow: auto;
    white-space: nowrap;
}
.pareNav label{
    float: left;
    color:rgb(255, 255, 255);
    font-size: 25px;
    margin-top:2.49px;
    margin-left: 10px;
    font-family: kalam;
}
.pareNav button{
    margin-bottom: 20px;
    margin-left:10px;
    width:60px;
    font-family: "kalam";
}
.pareNav i{
    font-size: 40px;
    margin-left:2.5%;
    color:white;
}
.modal {
    margin-top: 10px;
    margin-left: 40px;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 80%;
    height: 80%;
    background-color:white;
    text-align: center;
    border-radius: 30px;

}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
}
.modal img{
    width: 150px;
    height: 150px;
}
@keyframes fadein {
    from{
        opacity:0; 
    }
    to{
        opacity:1;
    }
}
.order{
    text-align: center;
    background-color: rgb(166, 190, 239);
    border: 5px solid darkgray;
    margin:10px;
}
.order h5{
    float: left;
}
.order table,td,th{
    border: 3px solid gray;
    float: none;
    padding: 10px;
    word-wrap: break-word;
    table-layout:fixed;
    width:90%;
    font-family: "Kalam";
    color:black;
}
.order table{
    margin-left:20px;
}
#accept{
    font-size: 20px;
}
#decline{
    font-size: 20px;
    margin-left: 50px;
}
.item{
    background-color: rgb(128, 219, 255);
    border: 5px solid darkgray;
    margin-left:5px;
    margin-right:5px;
    width:97%;
    height:auto;
    display: inline-block;
}
.item img{
    float: left;
    display: inline;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;

}
.item label{
    display: inline;
}
.item_summary{
    text-align:center;
}
#amt{
    background-color: white;
    font-weight: bolder;
    font-family: "Kalam";
    font-size:25px;
    color:black;
}
.item_summary p{
    background-color: rgb(128, 219, 255);
    width:80%;
}
.item_summary image{
    width: 200px;
    height: 200px;
}
.stoc{
    margin-right:80px;
}