body{
    background-color: rgb(29, 222, 228); 
}
.heading{
    font-weight: bolder;
    font-family: "Kalam";
    color:black;
}
.btsz{
    margin-top: 30px;
    width:200px;
    height:80px;
    font-weight: bolder;
    font-family: "Kalam";
    font-size: x-large;
    color:black; 
}
.lbl{
    font-weight: bolder;
    font-family: "Kalam";
    color:black;
    font-size:20px
}
